* {
    box-sizing: border-box;
}

nav {
    display: inline-block;
    font-size: 35px;
    color: black
}

.home-link {
    margin-left: 50px;
}

.logout-link {
    margin-right: 50px;
}

.headtitle {
    display: block;
    color: black;
    font-size: 30px;
    margin-bottom: 150px;
}