* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

.headtitle {
    display: block;
    color: black;
    background: none;
    font-size: 30px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.nav-link {
    display: inline-block;
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 15%;
    margin: 10px;
    margin-bottom: 35px;
    padding: .25em;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
 

    .headtitle {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-link {
        font-size: 15px;
        margin-bottom: 50px;
    }
}

