* {
    box-sizing: border-box;
}

.headtitle {
    display: block;
    color: black;
    font-size: 30px;
    margin-bottom: 25px;
}

a {
    display: inline-block;
}

.home-link {
    margin: 25px;
    font-size: 25px;
    color: black;

}

.logout-link {
    margin: 25px;
    font-size: 25px;
    color: black;
}

