* {
    box-sizing: border-box;
}

main {
    margin: 100px;
}

.goalsLink {
    display: inline-block;
    margin-bottom: 75px;
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border-radius: 15%;
    height: 40px;
    width: 100px;
    padding: .2em;
    text-decoration: none;
}

.weightLink {
    display: inline;
    margin-right: 50px;
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border-radius: 15%;
    padding: .25em;
    text-decoration: none;
}

.fitnessLink {
    display: inline;
    margin-left: 50px;
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border-radius: 15%;
    padding: .25em;
    text-decoration: none;
}

.feedbackLink {
    display: inline-block;
    margin-top: 75px;
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border-radius: 15%;
    height: 70px;
    width: 250px;
    padding: .2em;
    text-decoration: none;
}