body{
    margin: 0 auto;
    text-align: center;
}

.regtitle {
    color: black;
    margin-bottom: 150px;
}

h3 {
    font-size: 15px;
    margin-bottom: 50px;
}

input {
    margin: 15px;
}

fieldset {
    border: none;
}